
@font-face {
    font-family: 'Akatab';
    src: local('Roboto'), local('Roboto-Regular'), url('../Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Akatab Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

