@font-face {
    font-family: 'Akatab';
    src: url('../Fonts/Akatab/Akatab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab Bold';
    src: url('../Fonts/Akatab/Akatab-Bold.ttf') format('truetype');
}

footer {
    background-color: #058240;
    font-family: Akatab ;
    margin:0;
    padding:0;
    width: auto;
}

#container {
    display: flex;
    margin: 0px;
    padding: 50px;
    width: auto;
}

img {
    width: 200px;
    height: auto;
}

#ph-transparency-seal, #bagong-pilipinas{
    width: 100px;
    height: auto;
    margin: 0px 60px;
}

a {
    color: white;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}

#pages {
    font-family: 'Akatab Bold';
}
div {
    margin: 20px;
}