@import url('fonts.css');

footer {
    background-color: #058240;
    font-family: Akatab;
    margin:0;
    padding:0;
    width: auto;
}

#footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    gap: 20px;
}

    #footer-container > div {
        flex: 1 1 100%;
        text-align: center;
    }

@media (min-width: 768px) {
    #footer-container > div {
        flex: 1 1 45%;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    #footer-container {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 30px 50px;
    }

        #footer-container > div {
            flex: 1 1 auto;
        }
}

img {
    max-width: 150px;
/*    width: 150px;*/
    height: auto;
}

#ph-transparency-seal, #bagong-pilipinas{
    max-width: 80px;
    height: auto;
    margin: 0px 60px;
}

footer a {
    color: white !important;
    text-decoration: none !important;
    padding: 8px 0;
}

footer a:hover {
    text-decoration: underline !important;
}

.navpg {
    font-family: 'Akatab Bold';
}
