/*
    COLORS
    Green - 058240
    Off-white - FFEFCF
*/

@font-face {
    font-family: 'Akatab';
    src: url('../Fonts/Akatab/Akatab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('../Fonts/Abril_Fatface.ttf') format('truetype'); 
}
body {
    margin: 0;
    padding: 0;
    font-family: Akatab;
}


#flexcontainer {
    display: flex;
    margin: 0px;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

/*Home section*/
#home-bg {
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
    position: relative;
}
#home {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/Binan_Aerial.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */

    text-align: center;
    color: white;
    
    z-index: 0;
}

#home-filter {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    margin:0;
    padding: 0;
}

#homecontent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    z-index:2;
}

#homecontent h1 {
    padding: 0;
    margin: 0;
    font-family: 'Abril Fatface';
    font-size: 72px;
    color: #ffffff;
}
#homecontent p {
    padding: 0;
    margin:0;
    font-size: 30px;
    color: #ffffff;
}

#changecolor {
    color: #87C159;
}

/*Announcement Section*/
#announcement {
    background-color: #FFEFCF;
    margin: 0;
    padding: 0;
    
}

    #announcement h2 {
        font-family: 'Abril Fatface';
        color: #058240;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 20px;
        font-size: 72px;
    }

#announcement-card {
    background-color: #058240;
    padding: 0px;
    border-radius: 20px;
    width: 523px;
}

#announcement-content{
    padding: 10px;
}

#img-container {
    background-color: lightgrey;
    height: 248px;
    width: 523px;
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0px 0px;
}

#announcement-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#announcement-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/*News Section*/

#news-bg {
    margin: 0;
    padding: 0;
    background-color: black;
}
#news {
    background-image: url(../Images/Binan_Bayan.png);
    margin: 0;
    padding: 50px;
    width: 92.55vw; /*not responsive yet*/
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    #news h2 {
        text-align: center;
        font-family: 'Abril Fatface';
        font-size: 60px;
        color: #FFEFCF;
    }

#newscard {
    background-color: #058240;
    margin: 30px;
    padding: 30px;
    width: 300px;
    border-radius: 20px;

}


#space {
    margin: 0;
    padding: 0;
    width: auto;
    height: 36px;
    background-color: #058240;
}

#map {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

#map img {
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
}

/*Buttons*/

#learnmoreBtn {
    margin-top: 30px;
    opacity: 0.8;
}


#learnmoreBtn, #viewmoreBtn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #058240
}

    #learnmoreBtn:hover, #viewmoreBtn:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left: 8px;
        opacity: 1.0;
    }

        #learnmoreBtn:hover:after, #viewmoreBtn:hover:after {
            opacity: 1;
            right: 10px;
        }

    #learnmoreBtn::after, #viewmoreBtn::after {
        content: "\00bb";
        padding-right: 20px;
        position: absolute;
        opacity: 0;
        font-size: 20px;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        transition: 0.4s;
    }

/*Read more Button*/
.css-button-rounded--yellow {
    min-width: 130px;
    height: 40px;
    color: #000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FFEFCF;
    background: #FFEFCF;
}

    .css-button-rounded--yellow:hover {
        background: #058240;
        color: #FFEFCF
    }